.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .blog-post {
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h1 {
      text-align: center;
      font-size: 48px;
      margin: 0rem 1rem 1rem 1rem;
    }

    .byline {
      margin-bottom: 1rem;
    }

    .blog-post-markup {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0rem;
    }

    figcaption {
      font-size: 18px;
      font-style: italic;
      color: #777;
      margin-bottom: 3rem;
    }

    p {
      width: 90vh;
    }

    .finale {
      margin: 3rem 2rem;
      padding: 2rem;
      border-radius: 5px;
      background: #333;
      color: white;
    }

    .email {
      color: #00d1b2;
    }
  }
}

code {
  font-size: 12px !important;

  .number {
    transform: translateY(12px) translateX(13px);
    background: none;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .post-container {
    .blog-post {
      .blog-post-markup {
        margin: 0 2rem;
      }
      p {
        width: 100%;
      }
      .finale {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .finale {
    font-size: 19px;
  }
}

@media only screen and (max-width: 680px) {
  code {
    font-size: 9px !important;

    .number {
      font-size: 9px;
    }
  }
}
