.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .blog-post {
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;

    h1 {
      text-align: center;
      font-size: 48px;
      margin: 0rem 1rem 1rem 1rem;
      text-decoration: underline;
    }

    .byline {
      margin-bottom: 1rem;
    }

    .byline-under {
      color: white;
      padding: 0.3rem;
      border-radius: 5px;
      background: #00d1b1;
    }

    .blog-post-markup {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-bottom: 2rem;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0rem;
      border: 2px solid #333;
      border-radius: 7px;
    }

    figcaption {
      font-size: 18px;
      font-style: italic;
      color: #777;
      margin-bottom: 3rem;
    }

    p {
      width: auto;
      width: auto;
      display: flex;
      justify-content: center;
      padding: 0 10rem;
    }

    .finale {
      margin: 3rem 2rem;
      padding: 2rem;
      border-radius: 5px;
      border: 2px solid #e84c3c;
      background: none;
      color: #222232;
      a {
        display: inline;
      }
    }

    .email {
      color: #e84c3c;
    }
  }
}

.code-container {
  overflow-x: hidden;
  width: 100% !important;

  .code-toolbar {
    .toolbar {
      .toolbar-item {
        display: none !important;
      }
    }
  }

  pre {
    position: static;
    overflow-x: scroll !important;
    font-size: 16.7px !important;
  }
}

.project-button {
  background: none;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 1rem 0.7rem 1rem;
  padding: 0.5rem;
  transition: all 0.1s ease;

  &:hover {
    background: rgb(224, 224, 224);
  }
}

.project-button-disabled {
  background: none;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 1rem 0.7rem 1rem;
  padding: 0.5rem;
  transition: all 0.1s ease;
}

@media only screen and (max-height: 900px) {
  .post-container {
    .blog-post {
      .blog-post-markup {
        margin: 0 2rem;
      }
      p {
        width: 100%;
      }
      .finale {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  .post-container {
    .blog-post {
      .blog-post-markup {
        margin: 0 2rem;
      }
      p {
        width: 100%;
        padding: 0 2rem;
      }
      .finale {
        padding: 0.5rem;
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .finale {
    font-size: 19px;
  }

  .blog-post-markup {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  p {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

// @media only screen and (max-width: 680px) {
//   .code-container {
//     width: 75%;
//   }
// }
