.device-section {
  font-size: 22px;
  height: 90vh;
  min-width: 100%;
  .devices-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-height: 900px) {
  .device-section {
    height: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .device-section {
    height: auto;
    margin-bottom: 5rem;
    .devices-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;

      p {
        margin: 2rem 0;
      }
    }

    .reverse-flex {
      flex-direction: column-reverse;
    }
  }
}
