footer {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 0 10rem;
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Above footer contact form

.field {
  margin-top: 1rem;
}

.submit-button {
  margin: 1rem 0;
}

.full-height {
  margin-top: 8.5rem;
}
