footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(51, 51, 51, 0.897), rgba(51, 51, 51, 0.897)),
    url("../images/seamless-pattern-2.svg") !important;
  color: white;
  font-weight: bolder;

  a {
    color: white;
    &:hover {
      color: rgb(218, 218, 218);
    }
  }

  & > * {
    margin: 0 10rem;
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.above-footer {
  padding-top: 1rem;
  margin-bottom: 6rem;
}

// Above footer contact form

.field {
  margin-top: 1rem;
}

.submit-button {
  margin: 1rem 0;
}

.full-height {
  margin-top: 6.5rem;
}

@media only screen and (max-width: 1600px) {
  footer {
    flex-direction: column-reverse;

    & > * {
      margin: 1rem 0rem;
    }
  }

  .above-footer {
    width: 85%;
  }
}
