.page-title {
  text-align: center;
}

.social-template {
  margin-top: 1.3rem;

  .last-icon {
    margin-left: -0.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .contact-social-icons {
    a:last-child {
      display: none;
    }
  }
}
