.page-title {
  text-align: center;
}

@media only screen and (max-width: 1406px) {
  .social-template {
    margin: 0 2rem;
  }

  .page-content {
    p {
      margin: 0 2rem;
    }
    svg {
      margin: 0 2rem;
    }
  }
}
