.skills {
  margin: 5rem 0rem 8rem 0rem;
  h2 {
    text-align: center;
  }
}

.skills-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 5.5rem;

  h2 {
    font-family: "Jaldi", sans-serif;
  }

  .skill-card {
    color: white;
    .the-card {
      width: 100%;
      min-height: 5rem;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
      .the-card-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        min-height: 20rem;
        background: #333;
        border-radius: 5px;
        transition: all 0.2s ease;

        .card-title {
          text-align: center;
        }

        svg {
          margin-top: 1rem;
        }

        .skill-description {
          height: 6rem;
        }

        .skill-list {
          min-height: 8rem;
          margin-bottom: 1rem;
          .skill-list-item {
            padding: 0.2rem;
            list-style: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1407px) {
  .skills-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1023px) {
  .skills-cards-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 757px) {
  .skills-cards-container {
    grid-template-columns: repeat(1, 1fr);

    .skill-card {
      width: auto;
      .card-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .skill-card {
    margin-bottom: 1rem;
  }
}
